.pos-fixed {
    position: fixed;
    right: 0px;
    bottom: 0px;
}

.dimension-landscape {
    width: 100%;
    height: 70px;
}

.fg-color-white { color: white; }
.bg-color-dark-gray { background-color: #373737; }

.top-layer {
    z-index: 10;
}